/* #region*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*#endregion*/

body {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "League Spartan";
  /* min-height: 100vh; */
}
div p {
  color: #441b43;
}

.container {
  padding: 2vw 8vh;
}

.explanation {
  width: 30vw;
  font-size: 1.3vw;
  margin-bottom: 5%;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
}

.title {
  font-size: 3vw;
  width: 19vw;
  font-weight: bolder;
  font-family: "League Spartan";
}

.rates {
  width: 22vw;
  margin-right: 5.5vw;
  margin-top: 2vw;
}

.rates p {
  background-color: #f7f2f8;
  font-size: 0.8vw;
  font-weight: bolder;
  border-radius: 1vh;
  padding: 0.8vw 4vh;
  display: flex;
  align-items: center;
  width: 20vw;
}

.rate2 {
  position: relative;
  left: 2vw;
}

.rate3 {
  position: relative;
  left: 4vw;
}

.rates span {
  color: #e79146;
}

.rates svg {
  scale: 60%;
  /* transform: translateY(7px); */
  margin-left: -5px;
}

.introducttion {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.box {
  width: 20vw;
  background-color: #441b43;
  font-size: 1.2vw;
  line-height: 1.5vw;
  border-radius: 5px;
  padding: 2vh 3vw;
}

.introducttion img {
  border-radius: 50%;
  width: 15%;
}

.introducttion span {
  position: relative;
}

.type {
  color: #e47ab8;
}

.box p {
  color: white;
}

.second {
  position: relative;
  top: 3vh;
}

.third {
  position: relative;
  top: 6vh;
}

.profile {
  /* border: red solid 1px; */
  position: relative;
  display: flex;
  align-items: center;
  padding: 2vh 0 2vh 0;
}

.profile div {
  padding-left: 1.5vw;
}

@media only screen and (max-width: 375px) {
  .top {
    display: flex;
    flex-direction: column;
    /* border: yellow solid 1px; */
    margin: auto;
    margin-left: 10vw;
  }

  .explanation {
    /**/
    width: 55vw;
    display: block;
    margin: 3vw 3vh;
  }

  .title {
    font-size: 4vh;
    width: 30vh;
    /* border: red solid 1px; */
  }

  .top-left {
    text-align: center;
    padding-bottom: 2vh;
    margin: auto;
  }

  .container {
    text-align: center;
    /* border: blue solid 1px; */
  }

  .rates {
    width: 40vw;
    margin: auto;
  }

  .rate2 {
    left: 0vw;
  }

  .rate3 {
    left: 0vw;
  }

  .box {
    margin: auto;
    width: 65vw;
  }

  .introducttion {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 55vw;
  }

  .introducttion span {
    font-size: 3vw;
  }

  .introducttion p {
    font-size: 3.5vw;
    line-height: 5vw;
    text-align: left;
    padding: 0 5vw;
  }

  .profile {
    padding: 0 5vw;
  }

  .profile div {
    padding-left: 5vw;
    height: 10hw;
  }
  /* 
  .type {
    padding-top: 10hw;
  } */
}
